---
import '../styles/global.css';

const pageTitle = "トップ";
---

<html lang="jp">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro | {pageTitle}</title>
	</head>

	<body>
    <a href="/astro-tutorial/">ホーム</a>
    <a href="/astro-tutorial/about/">概要</a>
    <a href="/astro-tutorial/blog/">ブログ</a>

		<h1>{pageTitle}</h1>
	</body>
</html>
