---
const {platform,username} = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
  a{
    color: white;
    background: #4c1d95;
    text-decoration: none;
    padding: 0.5rem 1rem;
  }
</style>